.navbar {
  display: flex;
  width: 100%;
}

.nav-item {
  flex: 1;
  text-align: center;
  padding: 18px 0;
  background: maroon;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s ease;
}
