.upload-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.image-box {
  width: 200px;
  height: 200px;
  border: 2px dashed #aaa;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icon {
  font-size: 50px;
  color: #888;
}
